<div class="d-flex justify-content-center align-items-center mt-3">
  <form [formGroup]="regForm" (submit)="SubmitForm()" class="myForm form text-center justify-content-center justify-item-center">
    <h1>Register</h1>
    <div class="m-2 d-flex justify-content-center position-relative">
      <input formControlName="name" class="myInp form-control outline-none border border-0" type="text" placeholder="Name">
      <label class="position-absolute mt-1 end-0 mmm">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg>
      </label>
    </div>
    <div class="m-2 d-flex justify-content-center position-relative">
      <input formControlName="birthdate" (mouseover)="chgBirth1($event,cal)" (mouseout)="chgBirth2($event,cal)" class="myInp form-control outline-none border border-0 ddd" type="text" placeholder="BirthDate">
      <label class="position-absolute mt-1 end-0 mmm" #cal>
        <svg class="bi bi-calendar-check" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
        </svg>
      </label>
    </div>
    <div class="m-2 d-flex justify-content-center position-relative">
      <input formControlName="email" class="myInp form-control outline-none border border-0" type="email" placeholder="Email">
      <label class="position-absolute mt-1 end-0 mmm">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
          <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
          <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"/>
        </svg>
      </label>
    </div>
    <div class="m-2 d-flex justify-content-center position-relative">
      <input formControlName="password" #pass class="myInp form-control outline-none border border-0" type="password" placeholder="Password">
      <label class="position-absolute mt-1 end-0 mmm">
        <svg (mousedown)="chgPass1(pass)" (mouseup)="chgPass2(pass)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill lockPass" viewBox="0 0 16 16">
          <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
        </svg>
      </label>
    </div>
    <div class="m-2 d-flex justify-content-center position-relative">
      <input formControlName="confirmpassword" #pass2 class="myInp form-control outline-none border border-0" type="password" placeholder="Re-Enter Password">
      <label class="position-absolute mt-1 end-0 mmm">
        <svg (mousedown)="chgPass1(pass2)" (mouseup)="chgPass2(pass2)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill lockPass" viewBox="0 0 16 16">
          <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
        </svg>
      </label>
    </div>
    @if (passmatchgetter) {
      <div>Password Must Matches</div>
    }
    <!-- <div class="m-2 d-flex justify-content-center position-relative">
      <input class="myInp form-control outline-none border border-0" type="file" accept="image/png, image/jpeg">
      <label class="position-absolute mt-1 end-0 mmm">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
          <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
          <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
        </svg>
      </label>
    </div> -->
    <div>
      <input [disabled]="!regForm.valid" class="btn btn-outline-success btnC" type="submit" value="Register">
    </div>
</form>
</div>
